.form-container{width: 500px;margin: 0 auto;padding-top: 50px;}
.form-container h1{line-height: 80px;color: blue;}
.spantext{margin-left: 20px; color: seagreen;}
.text-res{color: rgb(255, 0, 179);}
.hidden{display: none;}